@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmación de registro";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Esta aplicación no tiene un servicio de correo configurado. Consulte <a href="https://aka.ms/aspaccountconf">la documentación</a> para configurarlo.
    Normalmente esto se enviaría por correo: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Haga clic aquí para confirmar su cuenta</a>
</p>
    }
    else
    {
<p>
    Revise su correo electrónico para confirmar su cuenta.
</p>
    }
}
